# venvs / caches
.venv/
__pycache__/
*.pyc
.poetry/
.pytest_cache/
.mypy_cache/
*.egg-info/

# local/editor
.DS_Store
.vscode/

# models / downloads / cache
.cache/
whisper_cache/
ct2_models/

# build outputs
outputs/*
!outputs/.gitkeep

# big artifacts
*.apkg

# build bundles
/dist/
